<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>게시글 작성</title>
	<link th:href="@{/css/table.css}" rel="stylesheet">
</head>

<body>

<form id="form" method="post" action="/board">
	<table>
		<tbody>
			<tr>
				<td >작성자</td>
				<td ><input type="text" name="createdBy" id="createdBy" style="width: 700px; height: 100%;"/></td>
			</tr>
			<tr>
				<td >비밀번호</td>
				<td ><input type="password" name="password" id="password" style="width: 700px; height: 100%;"/></td>
			</tr>
			<tr>
				<td >제목</td>
				<td ><input type="text" name="title" id="title" style="width: 700px; height: 100%;"/></td>
			</tr>
			<tr>
				<td >내용</td>
				<td ><input type="text" name="content" id="content" style="width: 700px; height: 500px;"/></td>
			</tr>
		</tbody>
	</table>
	<button type="submit">작성</button>
</form>

</body>

</html>